

.tweet-text {
  margin-left: 100px;
}
.search-tweet {
  margin-top: 30px;
  margin-bottom: 40px;
}
.btn-submit{
  margin-top: 10px;
}
#tweet-text{
  height: 100px;
}

.edit-tweet{
  margin-right: 10px;
}

/* .error-msg  {
  display: none;
} */